name: Build Debian Packages
run-name: Build Debian Packages
on:
  workflow_call:

jobs:
  build-debs:
    name: build-debs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # sid, bullseye
        codename: [trixie, bookworm]
        # , arm64, armhf
        #arch: [amd64]
    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: install sbuild
        # piuparts
        run: sudo apt install -y sbuild mmdebstrap uidmap debhelper

      - name: create directories
        run: mkdir -p ~/.cache/sbuild ~/.config/sbuild

      - name: Fetch repository-key
        run: wget -O ~/${{ matrix.codename }}.asc https://ftp-master.debian.org/keys/archive-key-${{ (startsWith(matrix.codename, 'bookworm') && '12') || '13' }}.asc

      #   - name: Create configuration file for pbuilder
      #     template:
      #       src: files/sbuild-config.pl
      #       dest: "{{ config_dir }}/config.pl"

      - name: create chroot tarball
        run: sudo mmdebstrap --include=ca-certificates --skip=output/dev --variant=buildd ${{ matrix.codename }} ~/.cache/sbuild/${{ matrix.codename }}-amd64.tar.zst "deb [signed-by=~/${{ matrix.codename }}.asc] https://deb.debian.org/debian trixie main non-free contrib non-free-firmware"

      - name: save artifact
        # https://github.com/actions/upload-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.codename }}
          path: debian/artifacts/
